*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #E8F5E9;
}

nav{
    background-color: #E8F5E9;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

.rect{
    height: 380px;
    width: 100%;
    background-color: #d9d9d9;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.content>h1 {
    font-size: 40px;
}

.cont-details {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#keyBreedInfo {
    font-weight: 700;
}

#saveBtn {
    font-size: 25px;
    padding: 10px 25px;
    background: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #4C67FC;
    color: white;
}

#saveBtn:hover {
    scale: 1.05;
    opacity: 0.8;
    transition: all 0.3s ease;
}

#tryBtn {
    font-size: 25px;
    padding: 10px 25px;
    background: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #4C67FC;
}

#tryBtn:hover {
    scale: 1.05;
    opacity: 0.8;
    transition: all 0.3s ease;
}